source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1
nuget Fleece.SystemTextJson
nuget FSharp.Core
nuget FSharp.Data.GraphQL.Server
nuget FSharp.Json
nuget Newtonsoft.Json
nuget Suave